
#signin {
    font-family:sans-serif;
}

div img{
    height: 20px;
    width: 50px;
    margin-bottom: 50px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


section{
    border: 2px solid rgb(227, 228, 227);
    width: 350px;
    height: 300px;
    margin: auto;
}

.footer-options {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#continue {
    margin-left: 10px;
    margin-top: 20px;
    border-width: 1px;
    background-color: #f7c548;
    width: 330px;
}

a{
    text-decoration: none;
    color:blue

}

#email, #password, #signin{
    margin-left: 10px;
    width: 325px;
}

#need-help{
    margin-left: 0px;
    color:blue;
    text-align: left;
    margin-top: 30px;

}

.create-account {
    text-align: center;
    margin-bottom: 20px;
}

footer{
    width: 350px;
    margin: auto;
    margin-top: 70px;
}

footer p{
    text-align:center;
}
#new-account{
    width: 325px;
}

.your-email{
    padding-bottom: 30px;
}

.change-password.one{
    word-spacing: 30px;
}
